APP_NAME=World Tourism API
APP_ENV=development
DEBUG=true

DATABASE_URL=postgresql+psycopg://username:password@localhost:5432/world_tourism

FRONTEND_URL=http://localhost:5173

DUFFEL_API_KEY=
DUFFEL_BASE_URL=https://api.duffel.com

DUFFEL_SUCCESS_URL=
DUFFEL_FAILURE_URL=
DUFFEL_ABANDONMENT_URL=

CORS_ORIGINS=